@inject IJSRuntime JSRuntime
@page "/"


<div class="logo-container">
    <img src="/images/logo.png" alt="logo" class="centered-logo" />
    <script src="js/site.js"></script>
</div>

<style>
    
    .logo-container {
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    
    .centered-logo {
        max-width: 100%; 
        max-height: 100%; 
        opacity: 0; 
        transition: opacity 1s; 
    }
</style>

@code {
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           
            await JSRuntime.InvokeVoidAsync("updateOpacity");
        }
    }
}